body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 5px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    font-weight: bold;
    height: min(10vw, calc((100vh - 100px)/10));
    margin: -1px;
    padding: 0;
    text-align: center;
    width: min(10vw, calc((100vh - 100px)/10));
}

.map, .map-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
}

.map-row:after {
    clear: both;
    content: "";
    display: table;
}
.green{
    background-color: green;
}

.gold{
    background-color: gold !important
}

.red {
    background-color: red !important
}

.footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    margin: 0px auto;
    width: 100%;
    border: 3px solid #73AD21;
    z-index:1;
    height: 100px;
    background-color: white;
}